<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quienes somos - I Yenu Jono</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/favicon.ico" type="image/png">
</head>
<body class="bodynosotros">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <div class="logonav">
            <img src="../img/icono2.png" alt="Logo" width=auto height="70" class="d-inline-block align-text-top">
          </div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="../../index.html">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../views/galeria.html">Galeria</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../views/quienesomos.html">Nosotros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../views/contacto.html">Contacto</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>
    <main class="mainnosotros">
      <div class="nosotros">
        <h1>NOSOTROS</h1>
        <p>Hace dos décadas, nació I Yenu Jono, impulsada por la idea de ofrecer el canotaje como más que una actividad deportiva, sino como una herramienta de contención para jóvenes. Nos dedicamos a brindar la experiencia única del kayak de forma gratuita, inspirados por la visión de Marcos Oliva Day, fundador de la Fundación Conocimiento de Nuestra Casa. Más que deporte, somos una comunidad comprometida en proporcionar un espacio donde los jóvenes no solo aprendan habilidades de kayak, sino también encuentren apoyo y guía. Únete a nosotros en esta travesía acuática, donde exploramos, aprendemos y crecemos juntos.</p>
      </div>
    </main>
    <footer class="footernosotros">
        <p>&copy; I YENU JONO, RIO GALLEGOS</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>